.questionSection_questionContainer {
    width: 100%;
    height: fit-content;
    background-color: var(--color-1);
    border-radius: var(--default-border-radius);
    padding: var(--default-content-gap);
    position: relative;
}

.questionSection_questionImage {
    width: 50%;
    max-width: 500px;
    height: auto;
    border: 1px dashed var(--color-2);
    border-radius: var(--default-border-radius);
}

.questionSection_question {
    margin: var(--default-content-gap) 0;
    line-height: 20px;
}

